<p id="notice"><%= notice %></p>

<h1>Welcome to Newsville</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Original Story</th>
      <th>Title</th>
      <th>Story Summary</th>
      <th>Story Posted at</th>
      <th>Story Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsvilles.each do |newsville| %>
      <tr>
        <td><%= link_to "Original Story", newsville.title_url, :target => "_blank" %></td>
        <td><%= newsville.title %></td>
        <td><%= newsville.body %></td>
        <td><%= newsville.time %></td>
        <% if newsville.image_url.present? %>
        <td><%= image_tag("#{newsville.image_url}") %></td>
        <% else %>
        <td><%= image_tag("nia.jpeg") %></td>
        <% end %>
        <td><%= link_to 'Show', newsville , class: "btn btn-success btn-xs" %></td>
        <td><%= link_to 'Edit', edit_newsville_path(newsville), class: "btn btn-warning btn-xs" %></td>
        <td><%= link_to 'Destroy', newsville, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newsville', new_newsville_path %>
