
<div class="pull-left padding">
  <% if @newsville.image_url.present? %>
        <td><%= image_tag("#{@newsville.image_url}" , class: "img-rounded") %></td>
        <% else %>
        <td><%= image_tag("nia.jpeg", class: "img-rounded") %></td>
  <% end %>
</div>


<p>
  <strong>View:</strong>
  <%= link_to "Original Story", @newsville.title_url, :target => "_blank" %>
</p>

<p>
  <strong>Headline:</strong>
  <%= @newsville.title %>
</p>

<p>
  <strong>Story Summary:</strong>
  <%= @newsville.body %>
</p>

<p>
  <strong>Posted:</strong>
  <%= time_ago_in_words(@newsville.created_at) %> ago
</p>
<%= link_to 'Back to Newsvilles', newsvilles_path, class: "btn btn-info btn-xs" %>

<hr>

<%= render @newsville.comments %>
  <%= simple_form_for [@newsville, Comment.new] do |comment| %>
    <%= comment.input :body, label: false, placeholder: 'Add your comment here' %>
    <%= comment.submit "Add Comment", class: "btn btn-danger" %>
  <% end %>

<hr>
  <%= link_to 'Back to Newsvilles', newsvilles_path, class: "btn btn-info btn-xs"%>

