<p id="notice"><%= notice %></p>

<p>
  <strong>Title url:</strong>
  <%= @newsville.title_url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @newsville.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @newsville.body %>
</p>

<p>
  <strong>Time:</strong>
  <%= @newsville.time %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @newsville.image_url %>
</p>

<%= link_to 'Edit', edit_newsville_path(@newsville) %> |
<%= link_to 'Back', newsvilles_path %>
