<div class="col-md-12">
  <div class="caption-full">
    <h4 class="pull-right">Was posted <%= time_ago_in_words(comment.created_at) %>  </h4>
    <h4>Comment by <%= comment.user.username %> </h4>
    <%= image_tag comment.user.image.url(:thumb),  class: "img-circle" %>
    <p> <%= comment.body %></p>
    <% if can? :destroy, comment %>
    <%= link_to 'Destroy', [comment.newsville, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-xs" %>
    <% end %>
  </div>
</div>
